<html xmlns:jsp="http://java.sun.com/JSP/Page" 
      xmlns:c="http://java.sun.com/jsp/jstl/core" 
      xmlns:fn="http://java.sun.com/jsp/jstl/functions" 
      xmlns:tiles="http://tiles.apache.org/tags-tiles" 
      xmlns:spring="http://www.springframework.org/tags">  

    <jsp:output doctype-root-element="HTML" doctype-system="about:legacy-compat" />
    
    <jsp:directive.page contentType="text/html;charset=UTF-8" />  
    <jsp:directive.page pageEncoding="UTF-8" /> 
		
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
		<spring:message code="application_name" var="title" htmlEscape="true" />
        <spring:url value="/resources/css/bootstrap.min.css" var="bootstrap_css" />
        <spring:url value="/resources/css/bootstrap-theme.min.css" var="bootstrap_theme_css" />
        <spring:url value="/resources/css/bootstrap-datetimepicker.min.css" var="bootstrap_datetimepicker_css" />
        <spring:url value="/resources/js/bootstrap.min.js" var="bootstrap_js" />
        <spring:url value="/resources/js/jquery.min.js" var="jquery" />
        <spring:url value="/resources/js/notification-manager.js" var="notificationManager" />
        <spring:url value="/resources/js/bootstrap-datetimepicker.min.js" var="bootstrap_datetimepicker" />
        <spring:url value="/resources/js/locales/bootstrap-datetimepicker.nl.js" var="bootstrap_datetimepicker_nl" />
        <spring:url value="/resources/js/main.js" var="main_js" />
        <spring:url value="/resources/css/main.css" var="main_css" />
        
        <title><spring:message code="welcome_h3" arguments="${title}" /></title>
        <link rel="stylesheet" type="text/css" media="screen" href="${bootstrap_css}" />
        <c:if test="${theme == 'standard'}">
        <link rel="stylesheet" type="text/css" media="screen" href="${bootstrap_theme_css}" />
        </c:if>
        <link rel="stylesheet" type="text/css" media="screen" href="${bootstrap_datetimepicker_css}" />
        <link rel="stylesheet" type="text/css" media="screen" href="${main_css}" />
                
        <script src="${jquery}" type="text/javascript"><jsp:text/></script>
        <script src="${bootstrap_js}" type="text/javascript"><jsp:text/></script>
	    
	    <!-- Get the user locale from the page context (it was set by Spring MVC's locale resolver) -->
	    <c:set var="userLocale">
	        <c:set var="plocale">${pageContext.response.locale}</c:set>
	        <c:out value="${fn:replace(plocale, '_', '-')}" default="en" />
	    </c:set>
	</head>
  	<body>
		<tiles:insertAttribute name="header" ignore="true" />
		
		<div class="container">
		 	<tiles:insertAttribute name="body"/>
		 </div>
		 
		 <script src="${notificationManager}" type="text/javascript"><jsp:text/></script>
		 <script src="${bootstrap_datetimepicker}" type="text/javascript"><jsp:text/></script>
		 <script src="${bootstrap_datetimepicker_nl}" type="text/javascript"><jsp:text/></script>
		 <script src="${main_js}" type="text/javascript"><jsp:text/></script>
	</body>
</html>