html,body {
	height: 100%;
}

body {
	padding-top: 70px;
}

.navbar-form * {
	margin-left: 5px;
}

.panel-title {
	display: inline;
}

.tab-content {
	margin-top: 20px;
}

.tab-content, .nav-tabs {
	text-transform: capitalize;
}

.tab-content .row {
	margin: 0;
}

a.thumbnail h2 {
	height: 120px;
	font-size: 200%;
	text-align: center;
	line-height: 120px;
	background: #fafafa;
	margin: 0;
}

a.thumbnail {
	text-decoration: none;
}

.thumbnail .image {
	width: 100%;
	height: 150px;
	background-size: cover;
	background-position: center center;
}

.caption {
	overflow: hidden;
}

.panel-body h3 {
	margin: 0;
} 

.spring-checks label {
	font-weight:normal;
	text-transform:capitalize;
	margin-left:10px;
}